.ingredient {
    padding: 4px;
    margin: 2px;
    color: #E9C46A;
    background-color: #2A9D8F;
    border: 1px #2A9D8F solid;
    border-radius: 8px;
}

.ing-label {
    color: #E9C46A;
}

.weight {
    width: 30px;
    padding: 4px;
    margin: 2px;
    color: #E9C46A;
    background-color: #2A9D8F;
    border: 1px #2A9D8F solid;
    border-radius: 8px;
}

.weight-label {
    color: #E9C46A;
}

.cost {
    width: 30px;
    padding: 4px;
    margin: 2px;
    color: #E9C46A;
    background-color: #2A9D8F;
    border: 1px #2A9D8F solid;
    border-radius: 8px;
}

.cost-label {
    color: #E9C46A;
}

.ing-title {
    color: #E76F51;
}

.create-new {
    margin-top: 2px;
    margin-left: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: #264653;
    background-color: #E76F51;
    border: 1px solid #E76F51;
    border-radius: 10px;
}

.create-new:active{
    margin-top: 2px;
    margin-left: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: #264653;
    background-color: #853301;
    border: 1px solid #E76F51;
    border-radius: 10px;
}

.list{
    color: #E9C46A;
}

.list-title{
    color: #E76F51;
}

.list-button{
    margin-top: 2px;
    margin-left: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: #264653;
    background-color: #E76F51;
    border: 1px solid #E76F51;
    border-radius: 10px;
}

.no-ing{ 
    color: #E76F51;
}