.title {
    margin-left: 5px;
    color: #F4A261;
}

.calculator-link {
    text-decoration: none;
    padding: 5px;
    color: #F4A261;
}

.pantry-link {
    text-decoration: none;
    padding: 5px;
    color: #F4A261;
}

.recipe-link {
    text-decoration: none;
    padding: 5px;
    color: #F4A261;
}